body {
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 32);
  font-family: 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
}

#page-header {
  margin: 20px auto;
  width: 400px;
}

#error-page {
  margin: 20px auto;
  width: 900px;
}

#messages-page {
  margin: 20px auto;
  width: 400px;
}

#message-form {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#message-form button[type="submit"] {
  margin-top: 10px;
}

#message-form #message-body-input {
  height: 100px;
  width: 100%;
}

.message-list .message-timestamp {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}

.notice {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.notice.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.notice-header {
  margin-top: 0rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
